@{
    Page.CheckApp = false;
    ViewBag.Title = "留言列表";
}
@model List<Data.Model.StickyNotes>


<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<link type="text/css" href="../../manage/Style/InterFace.Css" rel="stylesheet" rev="stylesheet" media="all" />
<link type="text/css" href="../../manage/style.css" rel="stylesheet" rev="stylesheet" media="all" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../manage/include/common.js"></script>
<script type="text/javascript">
    var win = new RoadUI.Window();
    var validate = new RoadUI.Validate();
</script>
<body>

    <form action="" method="post">
        @Html.AntiForgeryToken()
        <div id="interface_inside">
            <div id="interface_quick">
                <div class="interface_quick_left">您现在的操作 >> 我的工具 >> 记事便笺</div>
                <div class="interface_quick_right">
                    <a href="javascript:void(0)" onclick="javascript:window.location.replace(window.location.href);"><img style="vertical-align:middle;" src="../../manage/images/reload.png" /><strong>刷新</strong></a>
                    &nbsp; &nbsp;
                    <a href="javascript:history.back();"><img style="vertical-align:middle;" src="../../manage/images/ico_up1.gif" /><strong>后退</strong></a>
                </div>
                <div class="clearboth"></div>
            </div>
            <div id="interface_main">
                <div id="tabs_config" class="tabsbox">

                    <div class="clearboth"></div>


                    <!-- 模块 -->

                    <table style=" width:100%;" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>

                                <div id="config_basic1" class="tabs_wrapper">
                                    <div class="tabs_main" align="left">
                                        <div id="PanelConfig">

                                            <table class="table subsubmenu">
                                                <thead>
                                                    <tr>
                                                        
                                                        <td style="text-align:right">
                                                            @*<asp:Panel ID="panLogin" runat="server" DefaultButton="search_bt">
                                                                    <input type="text" name="keyword" maxlength=10 title="在这里输入关键字" id="keyword" />
                                                                    <asp:Button runat=server ID=search_bt CssClass="textbutton" OnClick=Search_Btn Text=搜索 />
                                                                </asp:Panel>*@
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <br />


                                            <div id="PanelDefault">

                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <td width="150">撰写时间</td>
                                                            <td width="250">便签内容</td>
                                                           
                                                        </tr>
                                                    </thead>

                                                    <tbody>

                                                        @foreach (var newslist in @Model)
                                                        {
                                                            <tr>
                                                               
                                                                <td width="150">@newslist.AddTime</td>
                                                                <td width="250">@newslist.Bodys</td>
                                                            
                                                            </tr>
                                                        }


                                                    </tbody>
                                                </table>

                                                <table class="table">
                                                    <tr>
                                                        <td class="page">
                                                            <span style="float:left;" id=num runat=server></span>
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<uc1:Page ID="Page1" runat="server" />&nbsp;&nbsp;&nbsp;&nbsp;
                                                        </td>
                                                    </tr>
                                                </table>

                                                <br />

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <!-- 模块 -->

                </div>
            </div>
        </div>
    </form>
</body>

